:root {
  --branding-color: #a288e3;
  --highlight-color: #faf9f6;
  --secondary-color: #090302;
  --heading-font: "merriweather", serif;
  --body-font: "cadro", serif;
}

body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

h2 {
  font-size: 38px;
  font-weight: 600;
  font-family: var(--body-font);
  line-height: 1.5;
}
h4 {
font-size: 48px;
}

p {
  font-family: var(--body-font);
  line-height: 30px;
  font-size: 18px;
  opacity: 0.8;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin: 0 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
nav {
  background-color: var(--highlight-color);
}

.hero {
  background-color: var(--highlight-color);
  padding: 160px 0px;

}

.hero h1 {
  font-size: 72px;
  font-weight: 600;
}

.hero h2 {
  font-size: 24px;
  padding: 20px;
  line-height: 2;
}

.hero p {
  opacity: 0.8;
  font-size: 28px;
  margin: 0px;
  line-height: 1.5;
}
.hero-image {
padding: 30px;
margin: 40px;
border-radius: 30px;
}

.project-description {
  padding: 130px 60px;
}

.btn-branding {
  background-color: var(--branding-color);
  color: var(--highlight-color);
  font-family: var(--body-font);
  font-style: italic;
  border-radius: 10px;
  padding: 10px 22px;
  font-size: 18px;
}

.btn-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 10px;
  padding: 8px 18px;
  font-size: 16px;
}

.intext-links {
  text-decoration: none;
  color: var(--branding-color);
}

.intext-links:hover {
  cursor: pointer;
  color: #edbfb7;
}

.icon {
  color: var(--branding-color);
}

.content-container {
  padding: 120px 100px;
}

.about h1 {
  font-size: 62px;
}

.about-info {
  padding-top: 120px;
}

.content-inner h1 {
  padding: 20px 0;
}

.content-inner h3 {
  margin-top: 15px;
  font-size: 24px;
}

.content-inner img {
  box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%),
    0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
}

.content-inner p {
  font-size: 18px;
}

.contact-inner {
  text-align: center;
}

footer {
  margin: 0 auto;
}

footer .contact-box {
  background-color: var(--highlight-color);
  padding: 50px 120px;
  margin: 15px 120px;
  border-radius: 15px;
}

footer p {
  margin: 0;
}

footer .intext-links {
  font-weight: 500;
}

.social-links {
  color: var(--branding-color);
  font-size: 25px;
  margin: 0 20px;
  padding: 11px 15px;
  border-radius: 50%;
  background-color: var(--highlight-color);
}

footer .social-links:hover {
  color: white;
  background-color: var(--branding-color);
  transition: all 100ms ease-in-out;
}



@media (max-width: 768px) {
  .hero h2 {
    line-height: 1.5;
    font-weight: 300;
  }

  h4 {
    font-size: 30px;
  
  }
  .project-description {
    padding: 30px; 
    margin: 0;
    text-align: center;
  }

  img {
    padding: 20px;
  }

  nav a {
    text-align: center;
    font-size: 14px;
  }

  footer .contact-box {
    padding: 80px 20px;
  }

}

@media (max-width: 1350px) {
  .slider {
    display: none;
  }
  .about-info h1 {
    color: var(--branding-color);
  }
  .about-info {
    padding-top: 10px;
  }
}
/* This is for the transition on about page */
.slider-wrapper {
  margin-inline-start: 180px;
  font-size: 28px;
  color: #aaa;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  color: var(--secondary-color);
  font-family: var(--heading-font);
}

.slider {
  height: 50px;
  padding-left: 15px;
  overflow: hidden;
}

.slider div {
  color: var(--highlight-color);
  height: 50px;
  margin-bottom: 50px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
}

.slider-text1 {
  background-color: #40f99b;
  animation: slide 6s linear infinite;
}
.slider-text2 {
  background-color: #edbfb7;
}
.slider-text3 {
  background-color: #a288e3;
}

/* this is for h1 transition on homepage */

@keyframes slide {
  0% {
    margin-top: -300px;
  }
  5% {
    margin-top: -200px;
  }
  33% {
    margin-top: -200px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  73% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

.change {
  -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: #85c7f2;
  }
  15% {
    color: #cc444b;
  }
  29% {
    color: #d90368;
  }
  41% {
    color: #edbfb7;
  }
  57% {
    color: #a288e3;
  }
  69% {
    color: #3e92cc;
  }
  81% {
    color: #40f99b;
  }
  93% {
    color: #5f4bb6;
  }
  100% {
    color: #931f1d;
  }
}

/* This is for the hover over image on work page */

.shadow-image:hover {
  transform: scale(1.02);
  transition: ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
}
